.menu-wrapper {
  margin-top: 4rem;
}

.menu-group {
  .panel {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .slick {
          margin-bottom: 1rem;
    }
  }
  .item-list {
    li {
      color: $white;
    }
  }
}